*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --root-bg-color: #16161a;
  --btn-color: #ff8906;
  --nav-primary-color: #e53170;
  --content-area-bg: rgba(0 0 0 / 0.85);
  --play-osu-pink-color: #DD5AC0;
  --pagination-circle-color: #CA5B97;
  --login-btn-color: rgba(218 43 138 / 0.6);
  --tournament-card-bg-color: rgba(21 23 25 / .65);
}

html {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;
}

body {
  background-image: url("../src/assets/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

h2 {
  color: var(--play-osu-pink-color);
}

/* UTILS START */

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--content-area-bg);
  color: whitesmoke;
  width: 80%;
  min-height: 50vh;
  border-radius: 20px;
}

.inline, .inline-reverse {
  display: flex;
  align-items: center;
}

.inline {
  flex-direction: row;
}

.inline-reverse {
  flex-direction: row-reverse;
}

.reverse {
  flex-direction: row-reverse;
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.j-content-fs {
  gap: 0.5rem;
  justify-content: flex-start;
}

.active {
  border-bottom: 2px solid var(--nav-primary-color);
}

.icon {
  width: 20px;
}

.container-image {
  border-radius: 15px;
}

/* UTILS END */

/* MISC START */

.logo {
  width: 50%;
  margin: 0 auto;
}

.logo_wide {
  display: none;
  cursor: pointer;
}

.flag {
  border-radius: 5px;
}

/* MISC END */

/* NAVBAR START */

header {
  display: flex;
  text-align: center;
  position: relative;
  z-index: 999;
  background-color: var(--content-area-bg);
}

header.inline {
  justify-content: space-between;
}

.logo-container {
  display: none;
}

.nav-social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-social-links-btn {
  width: 50px;
  color: #fffffe;
  cursor: pointer;
}

.profile-btn {
  /* border: 1px solid teal; */
  padding: .75em 1.5em;
  color: whitesmoke;
}

.pfp {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 2rem;
  font-weight: 700;
}

.profile-btn--img {
  width: 50px;
  border-radius: 50%;
}

.profile-btn:hover {
  cursor: pointer;
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #f5f5f5;
}

.unauthorized { 
  width: 50px;
  border-radius: 50%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  z-index: 1000;
  top: 5%;
  left: -1%;
  margin-left: 1em;
  height: 5%;
  display: flex;
  align-items: center;
  /* background-color: var(--root-bg-color); */
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--pagination-circle-color);
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: whitesmoke;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 10%;
  left: 0;
  background-color: var(--root-bg-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .4s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fa-circle {
  display: none;
}

nav li {
  padding-block: 0.5em;
}

nav li i {
  width: 40px;
  text-align: center;
  margin-right: .25em;
}

nav a {
  color: whitesmoke;
  text-decoration: none;  
  font-size: 2.5rem;
  opacity: 0;
  transform: opacity .15s ease-in-out;
}

a img {
  width: 70%;
  margin: 0 auto;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transform: opacity .25s ease-in-out .250s;
}

/* NAVBAR END */

/* HOME SECTION START */

.content-area {
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  margin: 1em;
}

.btn-link {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.75rem;
  padding: 0.75rem 1.5rem;
  color: black;
  background-color: whitesmoke;
  border-radius: 25px;
}

/* HOME SECTION END */

/* PLAY SECTION START */

.play.content-area {
  width: 95%;
  padding-block: 2.25rem;
  gap: 1em;
  display: flex;
  align-items: unset;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
}

.inline-row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.mode-btn {
  background-color: #b1a3ab;
  padding: 0.5em 0.75em;
}

.mode-btn--left {
  border-radius: 10px 0 0 10px;
}

.mode-btn--right {
  border-radius: 0 10px 10px 0;
}

.btn-active {
  background-color: #f5f5f5;
}

.desktop-header {
  display: none;
}

.page-select {
  display: flex;
  font-size: 3rem;
  color: #181818;
}

.prev-page, .next-page {
  background-color: #b1a3ab;
  padding: 0.25em 0.5em;
  font-size: 2rem;
}

.prev-page {
  border-radius: 10px 0 0 10px;
}

.next-page {
  border-radius: 0 10px 10px 0;
}

.cur-page {
  padding: 0.2em 0.4em;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.play h2 {
  font-size: 2.8rem;
  letter-spacing: 1px;
  color: whitesmoke;
}

.play-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tournaments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 95%;
  margin: 0 auto;
}

.tournament-card {
  background-color: var(--tournament-card-bg-color);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1.5rem 3rem;
  border-radius: 15px;
  border: 1px solid transparent;
  border-top-color: crimson;
  border-top-width: 3px;
}

.tournament-card h3 {
  font-size: 1.8rem;
}

.rank-range {
  font-size: 1.4rem;
}

.host {
  font-size: 1.6rem;
}

.info-btn {
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid palevioletred;
  border-radius: 10px;
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.4rem;
}

/* PLAY SECTION END */

/* WATCH SECTION START */

.logo-bg {
  display: none;
  border-radius: 20px;
}

.watch {
  text-align: center;
  font-size: 1.5rem;
}

.section-hero {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}
 
.section-hero h3 {
  color: var(--play-osu-pink-color);
}

.section-hero h3 {
  margin-bottom: 0;
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 2rem;
  gap: 1em;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 1em;
}

.tournament {
  width: 90%;
  margin-bottom: 1.25em;
  margin: 0 auto;
}

.tournament img {
  margin: 0 auto;
}

.tournament-title {
  font-size: 2rem;
  margin-top: 0.7em;
  margin-bottom: 0.8em;
}

.youtube-link {
  width: 25%;
  margin: 0 auto;
}

.youtube-link > * {
  width: 100%;
}

/* WATCH SECTION END */

/* CREATE AND  VICTORIOUS SECTION START */

.create.content-area,
.victorious.content-area {
  padding-block: 2em;
}

.create.content-area h2 {
  text-align: center;
}

.cast,
.staff,
.supporter,
.fame {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.6;
}

.staff a {
  color: #4fc4cf;
}

/* CREATE AND  VICTORIOUS SECTION END */

@media screen and (max-width: 300px) {
  
  /* TODO: FIX */
}

@media screen and (max-width: 330px) {
  .login-btn {
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 600px) {
  .content-area {
    width: 90%;
  }
  
  .mode-select,
  .page-select {
    margin-inline: 0.5rem;
  }
}

@media screen and (min-width: 450px) {
  .dates {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {  
  .profile-btn {
    background-color: var(--login-btn-color);
  }
  
  .content-area {
    width: 90%;
  }
  
  .inline-row {
    width: 91%;
  }

  .tournaments {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .tournaments > * {
    flex-basis: 47%;
  }

  .dates {
    flex-direction: column;
  }

  .container-image {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo_wide {
    width: 150px;
    display: block;
    margin-left: 3em;
  }

  .nav-social-links {
    flex-grow: 1;
  }

  .dsc {
    margin-left: auto;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.25em;
    margin-left: 1.25em;
  }

  nav ul {
    display: flex;
    margin-left: 1em;
  }

  nav li {
    padding: 0.5rem 1rem;
    transition: all 0.25s ease-in-out;
    border-bottom: 2px solid gray;
    font-size: 3.5rem;
  }

  nav li:hover {
    cursor: pointer;
    color: #f9bc60;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--nav-primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform .25s ease-in-out;
  }

  nav li:hover::after {
    transform: scale(1, 1);
  }

  .nav-social-links {
    margin-right: 1.25em;
  }

  .pagination {
    font-size: 5rem;
    margin-block: 0.7em;
  }

  .pagination i {
    display: none;
  }

  .pagination .fa-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pagination-circle-color);
    border-bottom: 2px solid gray;
    font-size: 0.2em;
  }

  .container-image {
    width: 528px;
  }
}

@media screen and (min-width: 1000px) {
  .login-btn {
    margin-left: 1em;
  }

  .dates {
    flex-direction: row;
  }
  
  .content-area.home {
    display: flex;
    flex-direction: column;
    align-items: unset;
    min-height: 70vh;
    margin-bottom: 1em;
  }
  
  .row {
    font-size: 3rem;
    padding: 0.5em;
  }
  
  .row-one {
    align-self: flex-start;
    text-align: left;
    width: 75%;
  }

  .row-two {
    align-self: flex-end;
    text-align: right;
    width: 80%;
  }

  .btn-link {
    width: 75%;
  }

  .logo-bg {
    display: block;
    width: 75%;
    margin: 0 auto;
  }

  .text {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .dates {
    flex-direction: column;
  }
  
  .inline-row {
    width: calc(100% - 12%);
  }

  .row {
    width: 60%;
  }

  .btn-link {
    width: 75%;
  }

  .tournament-card {
    font-size: 2rem;
    flex-basis: 30%;
  }

  .logo_wide {
    margin-left: 3em;
  }

  .desktop-header {
    display: block;
    align-self: center;
  }

  .mobile-header {
    display: none;
  }

  .main-section {
    display: flex;
    flex-direction: column;
  }

  .section-hero {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1em auto;
  }

  .logo-bg {
    display: block;
    width: 50%;
  }

  .text {
    margin-left: 1em;
    justify-content: space-between;
  }

  .gallery {
    display: flex;
  }

  .tournament {
    width: 20%;
    margin-bottom: 1em;
  }

  .gallery img {
    transition: all 0.2s ease-in-out 0.1s;
  }

  .gallery img:hover {
    transform: scale(1.5);
  }

  .content-container {
    display: flex;
  }

  .content-container > * {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .dates {
    flex-direction: row;
  }
  
  .content-area,
  .play.content-area {
    width: 80%;
  }
  
  .row-one {
    width: 45%;
    font-size: 4rem;
  }
  
  .row-two {
    width: 53%;
    font-size: 4rem;
  }

  .btn-link {
    font-size: 2rem;
  }

  .tournament-card {
    font-size: 1.25rem;
    gap: 0.5em;
  }

  .dates {
    flex-direction: row;
    justify-content: space-between;
  }

  header {
    margin: 0;
  }

  header.inline {
    justify-content: space-between;
  }

  .text {
    font-size: 2rem;
  }

  nav li {
    font-size: 4rem;
  }

  .play {
    width: 80%;
  }

  .inline.j-content-fs:nth-child(1) {
    gap: 0.05em;
  }
}

@media screen and (min-width: 1700px) {
  .logo_wide {
    width: 250px;
  }

  nav li {
    font-size: 4.5rem;
  }

  .tournament-card {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 2000px) {
  nav li {
    font-size: 4.5rem;
  }

  .play {
    width: 75%;
  }

  .tournament-card {
    font-size: 2.1rem;
    gap: 0.5em;
  }

  .dates {
    flex-direction: row;
    justify-content: space-between;
  }

  .inline.j-content-fs:nth-child(1) {
    gap: 0.05em;
  }
}