*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --root-bg-color: #16161a;
  --btn-color: #ff8906;
}

html {
  font-size: 62.5%;
  font-family: 'Merriweather', serif;
}

body {
  background-color: var(--root-bg-color);
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* UTILS START */

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline, .inline-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline {
  flex-direction: row;
}

.inline-reverse {
  flex-direction: row-reverse;
}

.reverse {
  flex-direction: row-reverse;
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.j-content-fs {
  gap: 0.5rem;
  justify-content: flex-start;
}

.active {
  background-color: #e53170;
}

.icon {
  width: 20px;
}

/* UTILS END */

/* MISC START */

.logo {
  width: 20%;
  height: 20%;
  margin: 0 auto;
  animation: spinLogo 35s infinite ease-in-out;
  animation-direction: alternate;
}

.logo_wide {
  width: 10%;
}

.logo__desktop {
  display: none;
}

.flag {
  border-radius: 5px;
}

.discord, .vk, .twitch, .youtube {
  transition: all 0.25s ease-out;
}

.discord:hover, .vk:hover, .twitch:hover, .youtube:hover {
  scale: 1.25;
}

.discord:hover {
  color: #7289da;
}

.vk:hover {
  color: #0077ff;
}

.twitch:hover {
  color: #9146FF;
}

.youtube:hover {
  color: crimson;
}

/* MISC END */

/* NAVBAR START */

header {
  background-color: transparent;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  min-height: 5vh;
}

.nav-social-links {
  margin-left: auto;
  margin-right: 2em;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-social-links-btn {
  width: 50px;
  color: #fffffe;
  margin: 0 auto;
  font-size: 3rem;
  cursor: pointer;
}

.profile-btn, .profile-btn--img {
  width: 50px;
}

.login-btn {
  padding: 0.5rem 1.75rem;
  margin-left: 0.2em;
  background-color: #ff8906;
  color: #f5f5f5;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: 'Comfortaa', cursive;
  transition: all 0.25s ease-in;
}

.login-btn:hover {
  background-color: #4fc4cf;
  color: #181818;
  scale: 1.025;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 4%;
  left: -1%;
  margin-left: 1em;
  height: 5%;
  display: flex;
  align-items: center;
  background-color: rgba(0 0 0 / .6);
  padding: 10px;
  border-radius: 5px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: whitesmoke;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 10%;
  left: 0;
  background-color: var(--root-bg-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .4s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding-block: 0.5em;
}

nav li i {
  width: 40px;
  text-align: center;
  margin-right: .25em;
}

nav a {
  color: whitesmoke;
  text-decoration: none;  
  font-size: 2.5rem;
  opacity: 0;
  transform: opacity .15s ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transform: opacity .25s ease-in-out .250s;
}

/* NAVBAR END */

/* PLAY SECTION START */

.play {
  width: 90%;
  min-height: 50vh;
  margin: 0 auto;
  margin-top: 1rem;
  padding-block: 2.25rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #443f42;
  color: whitesmoke;
}

.play-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.row {
  display: inline-flex;
  justify-content: space-between;
}

.mode-select {
  gap: 0.5em;
  margin-left: 3em;
}

.mode-btn {
  background-color: #b1a3ab;
  padding: 0.5em 0.75em;
}

.mode-btn--left {
  border-radius: 10px 0 0 10px;
}

.mode-btn--right {
 border-radius: 0 10px 10px 0;
}

.btn-active {
  background-color: #f5f5f5;
}

.page-select {
  display: flex;
  margin-right: 1em;
  font-size: 3rem;
}

.prev-page, .next-page {
  background-color: #b1a3ab;
  padding: 0.25em 0.5em;
  font-size: 2rem;
}

.prev-page {
  border-radius: 10px 0 0 10px;
}

.next-page {
  border-radius: 0 10px 10px 0;
}

.cur-page {
  padding: 0.1em 0.25em;
  background-color: #f5f5f5;
  color: #181818;
}

.play h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-decoration: underline;
}

.tournament-card {
  background-color: #1e1e1e;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1.5rem 3rem;
  border-radius: 15px;
  border: 1px solid transparent;
  border-top-color: crimson;
}

.info-btn {
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid palevioletred;
  border-radius: 10px;
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* PLAY SECTION END */

@media screen and (max-width: 355px) {
  .play-center {
    margin: 0 auto;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .logo_wide {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .inline-reverse {
    flex-direction: row;
  }

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    margin-top: .5em;
  }

  .logo {
    display: none;
  }

  .logo__desktop {
    display: block;
    width: 35%;
    margin: 0 auto;
    animation: spinLogo 35s infinite ease-in-out;
    animation-direction: alternate;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-right: 2.25em;
    margin-left: 1.25em;
  }

  nav ul {
    display: flex;
    gap: 2.5em;
  }

  nav li {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    transition: all 0.25s ease-in-out;
  }

  nav li:hover {
    cursor: pointer;
    background-color: rgba(229, 49, 112, 60%);
    border-radius: 15px 5px 10px 0;
    transform: translateY(.45rem);
    scale: 1.05; 
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li::before {
    content: '';
    display: block;
    height: 5px;
    background: #e16162;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform .25s ease-in-out;
  }

  nav li:hover::before {
    transform: scale(1, 1);
  }

  .nav-social-links {
    margin-right: 1.25em;
  }
}

@keyframes spinLogo {
  0% { 
    transform: rotate(0deg);
    filter: drop-shadow(0 0 0.75rem #001e1d);
  }

  25% {
    transform: rotate(90deg);
    filter: drop-shadow(0 0 1.75rem #e8e4e6);
  }

  50% {
    transform: rotate(180deg);
    filter: drop-shadow(0 0 2.75rem #f9bc60);
  }

  75% {
    transform: rotate(270deg);
    filter: drop-shadow(0 0 3.75rem #abd1c6);
  }

  100% { 
    transform: rotate(360deg);
    filter: drop-shadow(0 0 4.75rem #e16162);
  }
}